@model IEnumerable<VisitorRegistration.Models.Domain.Visitor>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
<p>@localizer["CurrentAmount"]: <b>@Model.Count()</b></p>

<table class="table table-striped table-bordered">
    <tr>
        <th>@localizer["Name"]</th>
        <th>@localizer["LastName"]</th>
        <th>@localizer["Type"]</th>
    </tr>
    @foreach (var visitor in Model)
    {
        <tr>
            <td>@visitor.Name</td>
            <td>@visitor.LastName</td>
            <td>@visitor.VisitorType</td>
        </tr>
    }
</table>

<a asp-controller="Visitor" asp-action="GroupedByDuration">@localizer["GroupedByDuration"]</a>